<div class="row">
    <div class="col-12 mx-auto mt-4">
        <div class="card">
            <div class="card-header">
                Error 404
            </div>
            <div class="card-body">
                La página {{ url }} no existe :(
            </div>
        </div>
    </div>
</div>