<div class="row mt-4">
    <div class="col-12">

        <div class="jumbotron">
            <h1 class="display-4">¿Qué es Filas App?</h1>
            <p class="lead">
                Ordene su fila de atención creando tableros digitales.
                Con <span class="badge badge-info">"Filas App"</span> cree tickets digitales y administre su tablero en
                <strong class="badge badge-info">Tiempo Real</strong>
            </p>
            <hr class="my-4">
            <p>
                En Filas App usted podrá re4gistrarse, crear su tablero, añadir escritorios y comenzar la gestion de su
                fila.
            </p>
            <p>
                <div class="h3">¿Cómo empezar?</div>
                Para usar "Filas App", usted sólo debe seguir estos pasos:
            </p>
            <hr class="my-4">

            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                1. Registrarse
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            Para comenzar a usar "Filas APP" usted debe tener una cuenta, registrese aquí: <a class="btn btn-success btn-sm"
                                href="/registrarse">Registrarse</a>
                            <br />¡Es totalmente gratis!
                            Debe ingresar su nombre, un correo o email válido (porque deberá verificarlo) y luego su
                            contraseña dos veces.
                            <p>Recibirá un correo de verificación para habilitar su cuenta.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                2. Ingrese a "Filas APP";
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            Una vez ha veriricado su correo presionando en el enlace que se le envió a su casilla de
                            email, usted podrá disfrutar de "Filas App".
                            <p>Para esto, usted debe conectarse en el siguiente enlace ingresando su correo y
                                contraseña.</p>
                            <p><a class="btn btn-success btn-sm" href="/ingresar">Ingresar a filas app.</a></p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                3. Crear su primera fila.
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            En este paso usted ya está a punto de poder ordenar su fila con "Filas App" en tiempo real
                            y de forma digital.
                            <p>Lo que tiene que hacer ahora es en la pantalla de perfil, presionar en el botón "+" de
                                la parte superiro derecha para agregar su primera fila.</p>
                            <p>Coplete el formulario con el nombre de la fila, debe ser algo descriptivo, ejemplo:
                                'Fila para pagar el sueldo", "Fila preferencial para adulto mayor", etc.</p>
                            <p>Incluya una descripción de lo que se hace o que usuarios atiende la fila.</p>
                            <p>IMPORTANTE: La clave global de la fila será usada por sus operadores, o personas que
                                atienden la fila para llamar los tickets en la cola.</p>
                            <p>Cuando termine, presine el botón "Crear fila" y usted tendrá su primera fila creada.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                4. Administre su fila.
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            Para administrar sus filas debe visitar este enlace: <a href="/user/filas" class="btn btn-success btn-sm">Administrar
                                filas</a>
                            <p>En esta pantalla tendrá las siguientes opciones:</p>
                            <div class="text-center">
                                <img src="/img/ayuda-filasapp.jpg" alt="" class="img-fluid responsive">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                5. Tomar tickets de atención y atender la Fila.
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            El siguiente paso es poner a operar su fila.
                            1. La pantalla "Ver Tablero", es especial para ser exhibida en un monitor de su sala de
                            espera. En esta pantalla se muestran los números que están siendo llamados.
                            2. La pantalla "Atender Fila", le muestra un formulario donde deberá ingresar el número de
                            su escritorio y la clave global de la fila para comenzar la atención de los tickets en
                            espera.
                            3. La pantalla "Tomar tickets" le muestra un botón grande que el usuario puede presionar y
                            que usted puede conectar a una impresora térmica para que le entregue el número a sus
                            clientes.
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center mt-4">
                <p class="text-center h2">
                    ¡Comenzar ahora, es gratis!
                </p>
                <a class="btn btn-success btn-lg" href="/registrarse" role="button">
                    ¡Registrarse Ahora!
                </a>
            </div>
        </div>

    </div>
</div>