<div class="row mt-4">
    <div class="col-12">

        <div class="jumbotron">
            <h1 class="display-4">Filas App</h1>
            <p class="lead">
                Gestione su cola de atención con tickets y Filas digitales. <a href="/about">¿Qué es Filas app?</a>
            </p>
            <hr class="my-4">
            <p>
                Puede registrarse para comenzar, ¡Es gratis!.
            </p>
            <a class="btn btn-success btn-lg" href="/registrarse" role="button">
                ¡Registrarse aquí!
            </a>
        </div>

    </div>
</div>