<footer class="container-fluid absolute-bottom">
    <div class="row">
        <div class="col-12 text-center bg-dark text-white">
            <div class="row">
                <div class="col-12">
                    <p class="mt-4">
                        Filas App - 2019
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>