<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Filas App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/about">¿Qué es?</a>
        </li>
        {{#unless user}}
        <li class="nav-item active">
          <a class="nav-link" href="/registrarse">Registrarse</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/ingresar">Ingresar</a>
        </li>
        {{/unless}}
      </ul>
      {{#if user.verificado}}
        {{> opciones-user}}
      {{/if}}
    </div>
  </div>
</nav>