<div class="dropdown ml-auto">
    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-th-list"></i> Lista de opciones
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/user/perfil">
            <i class="fas fa-user"></i> Perfil
        </a>
        <a class="dropdown-item" href="/user/filas">
            <i class="fas fa-columns"></i> Filas
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/user/salir">
            <i class="fas fa-sign-out-alt"></i> Salir
        </a>
    </div>
</div>