<div class="row">
    <div class="col-5 mx-auto mt-4">
        <form action="/atender/fila/{{fila._id}}/tickets" method="POST">
            <div class="card">
                <div class="card-header">
                    Atender fila: {{fila.name}}
                </div>
                <div class="card-body">
                    <p class="text-muted"><i class="fas fa-info-circle"></i> Complete este formulario para atender
                        tickets de la fila. Si no conoce los datos, contacte con su administrador.</p>

                    <input type="hidden" name="fila_id" value="{{fila._id}}">
                    <div class="form-group">
                        <input type="number" class="form-control" name="number" placeholder="Número de su escritorio">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Clave global para atender la fila...">
                    </div>


                </div>
                <div class="card-footer">
                    <div class="btn-group btn-group-sm btn-block">
                        <button class="btn btn-primary">
                            Acceder
                        </button>
                        <a href="/" class="btn btn-secondary">
                            Cancelar
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>