<div class="row">
    <div class="col-6 mt-4 mx-auto">
        <div class="card">
            <h3 class="card-header text-center">
                Ingresar
            </h3>
            <div class="card-body">

                <p class="text-center">
                    <img src="/img/logo_1.png" alt="Logo" class="logo-img">
                </p>

                <form action="/ingresar" method="POST">

                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Correo" autofocus>
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-dark btn-block" type="submit">
                            <i class="fas fa-arrow-circle-right"></i> Conectarse
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>