<div class="row">
    <div class="col-6 mt-4 mx-auto">
        <div class="card">
            <h5 class="card-header">
                Regista una cuenta
            </h5>
            <div class="card-body">

                <div class="text-center">
                    <img src="/img/logo_1.png?v=1.0" alt="">
                </div>

                El registro está deshabilitado, porque este sitio es un demo.
                Puede ingresar al sitio usando estas credenciales:
                <hr>
                <p>Usuario: admin@filasapp.com</p>
                <p>Password: 123123</p>

            </div>
        </div>
    </div>
</div>